<div class="container">
    <input type="text" class="form-control" placeholder="enter your task here" #task>
    <button class=" btn btn-primary" (click)="onClick(task.value)">Add</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Task Discribtion</th>
                <th>Completed</th>
                <th>Remove</th>
                
            </tr>
        </thead>
        <tbody>
    
            <tr *ngFor="let item of list">
                <td>{{item.task}}</td>
                <td></td>
            
                
                <td><button class="btn btn-danger" (click)="removeTask(item.id)">Remove Task</button></td>
            </tr>
        </tbody>
    </table>
</div>
