<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" routerLink="/home-page">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/taskmange-page">Task Management</a>
            </li>
            </ul>
            </div>
</nav>